
/*PHPUC*/
/*one_page_layout*/
/*V1.0.0*/
/*MSCRATCH*/
/*MMXXV*/

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

:root {

font-size: 62.5%;

--body_bg_color: #39404A;
--body_font_family: 'Roboto';
--body_font_color: #BDC3C9;
--body_line_height: 1.6;

/*nav*/

--navbar_border_color: #2F3742;
--navbar_bg_color: #414751;
--navbar_font_color: #BDC3C9;
--navbar_title_font_family: 'Roboto';
--navbar_title_font_size: 2rem;
--navbar_title_font_weight: 500;

--navbar_links_font_family: 'Roboto';
--navbar_links_font_size: 1.5rem;
--navbar_links_font_weight: 500;
--navbar_links_font_color: #BDC3C9;
--navbar_links_hover_bg_color: #5C789A;
--navbar_links_hover_color: #E1E8EF;

--navbar_toggle_button_font_family: 'Roboto';
--navbar_toggle_button_font_size: 2rem;
--navbar_toggle_button_font_weight: 500;
--navbar_toggle_button_font_color: #BDC3C9;
--navbar_toggle_bg_color: #414751;

/*nav*/

--widget_bg_color: #3D444F;
--widget_border_color: #2F3742;
--widget_border_radius: 6px;

--widget_title_bg_color: #414751;

--accent_color: #5C789A;
--accent_hover: #7699C1;

--text_muted: #AAB3BE;

--h2_font_font_family: 'Roboto';
--h2_font_size: 1.5rem;
--h2_font_weight: 500;
--h2_font_text-decoration: none;
--h2_font_color: #BDC3C9;

/*cct*/

--cct_border-radius: 5px;
--cct_border_color: #2F3742;
--cct_overlay_bg_color: rgba(57, 64, 74, 0.8);
--cct_title_bg_color: #414751;

--cct_bg_color: #3D444F;
--cct_font_size: 1.5rem;

/*cct*/

/*buttons*/

--btn_border_radius: 5px;
--btn_family: 'Roboto';
--btn_font_size: 1.5rem;
--btn_font_weight: 500;

--btn_primary_font_color: #E1E8EF;
--btn_primary_bg_color: #5C789A;
--btn_primary_hover: #4E6682;

--btn_dng_font_color: #E1E8EF;
--btn_dng_bg_color: #A65C5C;
--btn_dng_hover: #8D4E4E;

/*buttons*/

/*spans*/

--span_b_font_color: #8EB1D9;

/*spans*/
}

body {
margin: 0;
font-family: var(--body_font_family);
font-size: 1.6rem;
background: var(--body_bg_color);
color: var(--body_font_color);
line-height: var(--body_line_height);

    margin: 0;
    font-family: var(--body_font_family);
    font-size: 1.6rem;
    color: var(--body_font_color);
    line-height: var(--body_line_height);
    background:
          linear-gradient(
              rgba(57, 64, 74, 0.70),
              rgba(41, 47, 55, 0.85)
          ),
          url("images/bg.jpg");

      background-size: cover;
      background-position: center;
      background-attachment: fixed;

      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}

.container {
width: min(120rem, 92%);
margin: 0 auto;
}

/*nav*/

.navbar {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid var(--navbar_border_color);
background-color: var(--navbar_bg_color);
color: var(--navbar_font_color);
}

.navbar_title {
margin: 1rem;
font-family: var(--navbar_title_font_family);
font-size: var(--navbar_title_font_size);
font-weight: var(--navbar_title_font_weight);
}

.navbar_links {
height: 100%;
}

.navbar_links ul {
display: flex;
margin: 0;
padding: 0;
}

.navbar_links li {
list-style: none;
}

.navbar_links li a {
display: block;
padding: 1.5rem;
font-family: var(--navbar_links_font_family);
font-size: var(--navbar_links_font_size);
font-weight: var(--navbar_links_font_weight);
color: var(--navbar_links_font_color);
text-decoration: none;
}

.navbar_links a:hover {
background-color: var(--navbar_links_hover_bg_color);
transition: all 0.2s ease-in-out;
color: var(--navbar_links_hover_color);
}

.toggle_button {
position: absolute;
top: 1rem;
right: 1rem;
display: none;
font-family: var(--navbar_toggle_button_font_family);
font-size: var(--navbar_toggle_button_font_size);
font-weight: var(--navbar_toggle_button_font_weight);
color: var(--navbar_toggle_button_font_color);
text-decoration: none;
}

/*nav*/

/*hero*/

.hero {
padding: 10rem 0rem 5rem 0rem;
text-align: center;

}

.hero_box h1 {
font-size: 5rem;
}

.hero_box p {
font-size: 1.6rem;
margin-bottom: 2.5rem;
color: var(--text_muted);
}

/*hero*/


/*grid*/

.grid_3 {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
padding: 6rem 0;
}

.split {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 4rem;
padding: 6rem 0;
}

/*grid*/


/*widget*/

.widget {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 20px;
  padding: 24px;
text-align: left;


}

.widget_content {
padding: 1.5rem;
}

.widget_title {
padding: 1.5rem;
border-top-left-radius: var(--widget_border_radius);
border-top-right-radius: var(--widget_border_radius);
border-bottom: 1px solid var(--widget_border_color);
background-color: var(--widget_title_bg_color);
}

/*widget*/

/*footer*/

.footer {
padding: 5rem;
}

.footer_bottom {
text-align: center;
color: var(--text_muted);
font-size: 1.4rem;
}

/*footer*/

/*headings*/

h2 {
font-family: var(--h2_font_font_family);
font-size: var(--h2_font_size);
font-weight: var(--h2_font_weight);
text-decoration: var(--h2_font_text-decoration);
color: var(--h2_font_color);
}

/*headings*/

/*buttons*/

.btn {
display: inline-flex;
align-items: center;
justify-content: flex-start;
padding: 0.5rem;
border-radius: var(--btn_border_radius);
border: none;
font-family: var(--btn_font_family);
font-size: var(--btn_font_size);
font-weight: var(--btn_font_weight);
line-height: 1;
text-align: left;
text-decoration: none;
color: var(--btn_font_color);
cursor: pointer;
}

.btn:hover  {
transition: all 0.2s ease-in-out;
}

.btn--btn_primary {
background-color: var(--btn_primary_bg_color);
color: var(--btn_primary_font_color);
}

.btn--btn_primary:hover {
background-color: var(--btn_primary_hover);
}

.btn--btn_dng {
background-color: var(--btn_dng_bg_color);
color: var(--btn_dng_font_color);
}

.btn--btn_dng:hover {
background-color: var(--btn_dng_hover);
}

/*buttons*/

/*global, affects all spans*/

span.span_b {
color: var(--span_b_font_color);
}

/*global, affects all spans*/

/*cct*/

.cct_wrapper {
position: fixed;
inset: 0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
padding: 1.5rem;
z-index: 1;
background-color: var(--cct_overlay_bg_color);
}

.cct {
max-width: 750px;
margin-top: -25vh;
border-radius: var(--cct_border-radius);
border: 1px solid var(--cct_border_color);
background-color: var(--cct_bg_color);
font-size: var(--cct_font_size);
text-align: left;
}

.cct_title {
padding: 1.5rem;
border-top-left-radius: var(--cct_border-radius);
border-top-right-radius: var(--cct_border-radius);
border-bottom: 1px solid var(--cct_border_color);
background-color: var(--cct_title_bg_color);
}

.cct_content {
padding: 1.5rem;
}

/*cct*/

/*global, affects all lists.*/

li.list_style_none {
list-style: none;
}


ul li, ol li {
list-style-position: inside;
}

/*global, affects all lists.*/



@media (max-width: 900px) {

.grid_3
{
grid-template-columns: 1fr;
}

.split {
grid-template-columns: 1fr;
}

.navbar {
flex-direction: column;
gap: 1rem;
}

}

/*fonts*/

/* roboto-300 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: url('../fonts/roboto-v50-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 300;
src: url('../fonts/roboto-v50-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
src: url('../fonts/roboto-v50-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('../fonts/roboto-v50-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 500;
src: url('../fonts/roboto-v50-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 600;
src: url('../fonts/roboto-v50-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 700;
src: url('../fonts/roboto-v50-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-800 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
src: url('../fonts/roboto-v50-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-800italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 800;
src: url('../fonts/roboto-v50-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*fonts*/
